<h2>{{title}}</h2>
{{#each seasons}}
<div id="{{this.id}}"></div>
<script>
    let {{this.id}} = new frappe.Chart("#{{this.id}}", {
        data: {
            labels: [{{{this.labels}}}],
            datasets: [
                {
                    chartType: 'line',
                    values: [{{{this.data}}}]
                }
            ]
        },

        title: "{{this.title}}",
        type: 'line',
        height: 300,
        colors: ['purple', '#ffa3ef', 'light-blue'],

        tooltipOptions: {
            formatTooltipX: d => (d + '').toUpperCase(),
            formatTooltipY: d => d + ' pts',
        }
    });
</script>
{{/each}}